.icon-notification {
  color: black;
}

.icon-notification:hover {
  color: var(--primary-light);
}

.icon-new-notification {
  color: red;
}

.icon-new-notification:hover {
  color: var(--primary-light);
}
